.Details {
  &__last-updated {
    text-align: center;
  }

  &__title-wrapper {
    text-align: center;
    border: solid 1px black;
    width: 880px;
    margin: auto;
  }

  &__title-subwrap {
    width: 35%;
  }

  &__button {
  }

  &__title {
    font-size: 2rem;
  }

  &__overview-button {
    align-self: flex-start;
  }

  &__Main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 3px solid black;

    width: 880px;
    margin: auto;
  }

  &__First {
    border-right: 1px solid black;
    width: 25rem;
  }

  &__balance-list {
    display: flex;
    flex-direction: column;
  }

  &__Editing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5rem;
  }

  &__popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &__popup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    padding: 2rem;
    position: absolute;

    width: 30%;
    height: 30%;
    background-color: white;
    border: 1px solid black;
  }

  &__popup-form-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2rem;
  }

  &__popup-title {
    display: flex;
    justify-content: space-between;
  }

  &__popup-close {
    cursor: pointer;
    font-size: 1.5rem;
    background: none;
    position: relative;
    top: 0;
    right: 0.1rem;
  }

  &__Analysis {
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
    width: 25rem;
    padding-left: 1rem;

    align-items: flex-start;
  }

  &__title-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__Analysis-property {
    width: 60%;
  }

  &__Analysis-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  &__year {
  }

  &__Analysis-points {
    text-align: center;
  }

  &__balance-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__payments-list {
    display: flex;
    flex-direction: column;
  }

  &__payments-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__payment-item {
    display: flex;
    justify-content: flex-start;
  }

  &__deposited {
    color: green;
    width: 85%;
  }

  &__addpayment-button {
    width: 120px;
    height: 50px;
    align-self: center;
    cursor: pointer;
    margin-right: 1rem;
    border-radius: 4px;
  }

  &__balance-item {
    width: 85%;
  }

  &__balance-list {
    padding-left: 1rem;
  }

  &__payment-button {
    width: 60px;
    cursor: pointer;
    margin-right: 1rem;
    border-radius: 4px;
  }

  &__balance-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__withdrawn {
    color: red;
    width: 85%;
  }
}
